.backgroundUser {
    background-image: linear-gradient(to left, #020B1D, #160030, #020B1D);
    min-height: 100vh;
    position: relative;
}

.backgroundUser__image {
    background-repeat: repeat;
    background-size: 400px;
    flex-grow: 1;
}