.homeTeam {
    background-image: linear-gradient(to left, #020B1D, #160030, #020B1D);
    height: 100vh !important;
    position: relative;
}

.homeTeam__sub {
    background-repeat: repeat;
    background-size: 400px;
}